API_KEY = abc123
DATABASE_URL = postgresql+psycopg://postgres:password@db_service:5432/postgres
OPENAI_BASE_URL = http://model-runner.docker.internal/engines/v1/
OPENAI_API_KEY = 
OPENAI_MODEL = ai/gemma3:270M-F16
EMAIL_ADDRESS = 
EMAIL_PASSWORD = 
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 465
