API_KEY = abc123
DATABASE_URL = postgresql+psycopg://postgres:password@db_service:5432/postgres
OPENAI_BASE_URL = http://model-runner.docker.internal/engines/v1/
OPENAI_API_KEY = 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
OPENAI_MODEL = ai/gemma3:270M-F16
EMAIL_ADDRESS = monisakhtar@gmail.com
EMAIL_PASSWORD = ktoy genv zxcg jcpr
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 465