API_KEY = abc123
DATABASE_URL = postgresql+psycopg://postgres:password@db_service:5432/postgres
OPENAI_BASE_URL = http://model-runner.docker.internal/engines/v1/
OPENAI_API_KEY = notset
OPENAI_MODEL = ai/gemma3:270M-F16
EMAIL_ADDRESS = monisakhtar@gmail.com
EMAIL_PASSWORD = ktoy genv zxcg jcpr
EMAIL_HOST = smtp.gmail.com
EMAI_PORT = 465